[data-layout],
[data-area] {
  box-sizing: border-box; }

[data-layout] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

[data-area] {
  display: block; }

[data-layout] {
  outline: 1px solid #000fff;
  outline-offset: 0; }
  [data-layout] .wrapper {
    outline: 1px solid #ffa500; }
  [data-layout] [data-area] {
    outline: 1px solid #f00;
    outline-offset: -2px; }

[data-layout~="justify-space-around"] {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

[data-layout~="justify-start"] {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

[data-layout~="justify-space-between"] {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

[data-layout~="justify-end"] {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

[data-layout~="justify-center"] {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

[data-layout~="align-start"] {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

[data-layout~="align-end"] {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

[data-layout~="align-center"] {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

[data-layout~="align-baseline"] {
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

[data-layout~="align-stretch"] {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

[data-layout~="no-wrap"] {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

@media all and (min-width: 320px) and (max-width: 768px) {
  [data-layout~="holy-grail"] .wrapper {
    margin: 1rem; }
  [data-layout~="holy-grail"] > [data-area~="header"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    [data-layout~="holy-grail"] > [data-area~="header"] .wrapper {
      margin-bottom: 2rem;
      margin-left: 0;
      margin-right: 0;
      margin-top: 2rem; }
  [data-layout~="holy-grail"] > [data-area~="main"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  [data-layout~="holy-grail"] > [data-area~="nav"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  [data-layout~="holy-grail"] > [data-area~="aside"] {
    display: none;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  [data-layout~="holy-grail"] > [data-area~="footer"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; } }

@media all and (min-width: 769px) and (max-width: 1024px) {
  [data-layout~="holy-grail"] .wrapper {
    margin: 1rem; }
  [data-layout~="holy-grail"] > [data-area~="header"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  [data-layout~="holy-grail"] > [data-area~="main"] {
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  [data-layout~="holy-grail"] > [data-area~="nav"] {
    -webkit-flex-basis: 300px;
        -ms-flex-preferred-size: 300px;
            flex-basis: 300px;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  [data-layout~="holy-grail"] > [data-area~="aside"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  [data-layout~="holy-grail"] > [data-area~="footer"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; } }

@media all and (min-width: 1025px) {
  [data-layout~="holy-grail"] .wrapper {
    margin: 1rem; }
  [data-layout~="holy-grail"] > [data-area~="header"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  [data-layout~="holy-grail"] > [data-area~="main"] {
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  [data-layout~="holy-grail"] > [data-area~="nav"] {
    -webkit-flex-basis: 300px;
        -ms-flex-preferred-size: 300px;
            flex-basis: 300px;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  [data-layout~="holy-grail"] > [data-area~="aside"] {
    -webkit-flex-basis: 300px;
        -ms-flex-preferred-size: 300px;
            flex-basis: 300px;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  [data-layout~="holy-grail"] > [data-area~="footer"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; } }
